Source: cura-engine
Priority: optional
Maintainer: Gregor Riepl <onitake@gmail.com>
Build-Depends: debhelper (>= 10), cmake (>=2.8.12),
 protobuf-compiler (>=3.0.0), libprotobuf-dev,
 rapidjson-dev, libpolyclipping-dev,
 libarcus-dev (>=2.4.0)
Standards-Version: 3.9.8
Section: utils
Homepage: https://github.com/Ultimaker/CuraEngine
Vcs-Git: https://github.com/onitake/CuraEngine
Vcs-Browser: https://github.com/onitake/CuraEngine

Package: cura-engine
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: command line slicer engine for 3d printing
 The CuraEngine is a C++ console application for 3D printing
 GCode generation. It has been made as a better and faster
 alternative to the old Skeinforge engine.
